<h1><%= @user.uid %></h1>

<h2>Credentials list</h2>

<ul>
  <% @user.webauthn_setting.credentials.each do |credential| %>
    <li>credential id: <%= credential.id %> | <%= credential.created_at %></li>
  <% end %>
</ul>
